@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
}

h1 {
    font-weight:bold;
    font-size: 30px;
}

.header h3 {
    font-weight: 300;
    margin:0 2px;
}

h3 {
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* İki sütunlu bir grid */
    grid-column-gap: 10px; /* Sütunlar arası boşluk */
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10%;
}

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 18px;
  }
  
  .search-box::placeholder {
    color: #fff4ec;
  }
  
  .search-box input {
    background: #F47775;
    opacity: 40%;
    color: #fff4ec;
    font-family: inherit;
    font-size: 60%;
  }

  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background: #F47775;
    opacity: 40%;
    color: #fff4ec;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  button:hover {
    background: #612f2f;
    opacity: 70%;
  }

img {
    width: 72px;
    padding-top: 40px;
}

.forecast-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted;
}

.container-cloudy{
    background-color: #F4F7F8;
    color: #F47775;
}

.container-rainy{
    background-color: #A3DEF7;
    color: #164A68;
}

.container-clear{
    background-color: #F7E9B9;
    color: #2A5510;
}

.container-snowy{
    background-color: #F4F7F8;
    color: #37d4e9;
}

@media (min-width: 667px) {
    .container{
        font-size: 24px;
        padding: 15%;
        justify-content: space-evenly;
    }

    img {
        width: 75px;
        padding-top: 20px;
    }

    h3 {
        font-weight: 300;
    }
    
}

@media (min-width: 1024px) {

    .container{
    font-size: 24px;
    justify-content: space-between;
    }
    
    h3 {
        font-weight: 300;
    }
}
